.App {
  color: white;
  min-height: calc(100vh);
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: calc(20px + 4vmin);
  font-weight: normal;
}

p {
  font-size: calc(10px + 2vmin);
}

/* .glass {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  backdrop-filter: blur(3.4px);
  -webkit-backdrop-filter: blur(3.4px);
} */